body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(#4A55A2,#7895CB,#24243e);
}
.master{
    width: 350px;
    height: 500px;
    border-radius: 10px;
    box-shadow: 5px 20px 50px #000;
}
#check{
    display: none;
}
